.cards {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.card {
	background: white;                         
	padding: 15px;                             
	border-radius: 4px;                        
	box-shadow: 0 10px 30px rgba(0,0,0,.1);    
	display: flex;
	align-items: flex-end;
	align-items: center;
	justify-content: space-between;
	margin: 5px 5px;
	flex-basis: 290px;
	flex-grow: 1;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 20px;
	font-weight: bolder;
}

.card img {
	border-radius: 4px; 
}

#dior {
	margin-bottom: 60px;
}